@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HelveticaNeue MediumExt';
  src: local('HelveticaNeue'), url(./fonts/Helvetica\ Neue\ Medium\ Extended.ttf) format('truetype');
}
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: local('HelveticaNeueCyr'), url(./fonts/HelveticaNeueCyr-light.ttf) format('truetype');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "HelveticaNeueCyr", sans-serif;
}

h1 {
  font-family: "HelveticaNeue MediumExt", sans-serif;
}